
.header-nav {
  display: flex;
  gap: 40px;
}

.header-nav a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  transition: 0.3s;
}

.header-nav a:hover {
  color: #00e5ff;
}

.profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-name {
  padding: 8px 22px;
  border: 2px solid #00e5ff;
  border-radius: 50px; 
  color: #00e5ff;
  font-size: px;
  display: inline-block;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  /* background: linear-gradient(135deg, #0077ff, #00e5ff); */
  /* background: linear-gradient(180deg, #10374b, #0b1e28); */
  border: 2px solid #00e5ff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: #0A0A0A; */
  /* color: #FFFFFF; */
  color: #00e5ff;
  font-weight: bold;
  font-size: 18px;
}
