.simple-header {
  background-color: #000;
  width: 100%;
}

.header-container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 10px 12px 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-icon {
  width: 40px;
}

.logo-text {
  height: 28px;
}

.login-btn {
  background: linear-gradient(90deg, #0077ff, #00e5ff);
  color: black;
  padding: 12px 28px;
  border-radius: 14px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  transition: 0.3s ease;
}

.login-btn:hover {
  opacity: 0.85;
  transform: scale(1.05);
}

.header-line {
  height: 2px;
  background-color: #00e5ff;
  max-width: 1450px;
  margin: 0 auto;
}
